<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Login</title>
</head>
<body>
		<div id="header">
			name 
			<form action="/index">
				<button>Home</button>
			</form>
			<form action="/search/" method='POST'>{% csrf_token %}
				<input name='query'></input>
				<input type="submit" value="search"></input>
			</form>
		</div>
		<div id="container">
			{% if employee %}
			<ul>
				<li>ID: {{ employee.user_id }}
				<li>UID: {{ employee.uid }}</li> 
				<li>Name: {{ employee.user.first_name }} {{ employee.last_name }}</li>
				<li>Email: {{ employee.user.email }}</li>
				<li>Phone: {{ employee.phone }}</li>
				<li>Present: {{ employee.present }}</li>	
			</ul>
			{% endif %}
		</div>
</body>