{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<title>Main</title>
</head>
<body class="bodycl">
		<div id="header">
			name 
			<form action="/index">
				<button>Home</button>
			</form>
			<form action="/search/" method='POST'>{% csrf_token %}
				<input name='query'></input>
				<input type="submit" value="search"></input>
			</form>
		</div>
		<div id="container">
			<form action="" method="post">{% csrf_token %}
				<select name="employee_filter" id="select_value" onchange='this.form.submit()'>
					<option>Select a filter</option>
					<option value='all' >All Employees</option>
					<option value='present'>Present Employees</option>
					<option value='absent'>Absent Employees</option>
				</select>
				<noscript><input type="submit" value="Submit"></noscript>
			</form>
			{% if employees %}
			<ul>
				{% for employee in employees %}
					<li><a href="/employee/{{ employee.uid }}">{{ employee.uid }}</a> {{ employee.last_name }} {{ employee.first_name }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		
</body>